# Server port
PORT=3000

# Base URL of the API
BASE_URL=http://localhost:3000

# MongoDB connection url
MONGODB_URI=your-connection-string

# Environment mode
# development | test | production
NODE_ENV=development
